table {border-collapse: collapse;}
      table, th, td {border: 1px solid black;}    
      td {padding-left: 5px; padding-right: 5px; text-align: left;}
      tr:nth-child(even) {background-color: #E5E7E9;}
      tr:hover {background-color: #85C1E9;}
      .centerCell {text-align: center;}